<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 id="addRecipeHeader">Add A Recipe</h1>
        </div>
    </div>

    <div id="addNewRecipeContainer" class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <form id="addNewRecipe" action="/recipes" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="recipe[title]" placeholder="Recipe Name" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control form-control-sm" name="recipe[description]" placeholder="Recipe description" rows="5" required></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-sm" type="text" name="recipe[image]" placeholder="Paste image url">
                </div>
                <button id="submitRecipe" type="submit" class="btn">Submit</button>
            </form>
        </div>   
    </div>

    <hr class="style-two">

    <div class="row justify-content-center mb-3">
        <div class="col-sm-12 col-md-8 col-lg-6 text-center mb-3">
            <div class="searchBar">
                <h2 id="allRecipesHeader">All Recipes</h2>
                <form class="form-group" action="/recipes/search" method="post">
                    <input id="search" class="form-control" type="search" name="search" placeholder="Search For A Recipe...">
                </form>  
            </div>      
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="background-color: #F3F3F3; padding: 20px 30px;">
        <% recipes.forEach((recipe) => { %>
            <div class="col-lg-6 clearDefaults">
                <div class="recipeCards">
                    <div class="imageBox fill">
                        <img src="<%= recipe.image %>" alt="Recipe image">
                    </div>
                    
                    <div class="recipeDetails">
                        <a href="/recipes/<%= recipe._id %>"><h4 class="recipeTitles"><%= recipe.title %></h4></a>
                        <small class="text-muted"><%= recipe.dateCreated.toDateString() %></small>
                        <p><%= recipe.description.substring(0, 100) %>...</p>
                        
                        <!-- Hidden email input field -->
                        <div class="hideBox" id="showEmailInputCards<%= recipe._id %>">
                            <form id="sendPostCards" action="/recipes/<%= recipe._id %>/email" method="post">
                                <input class="form-control form-control-sm" name="email" type="email" placeholder="Email address" required>
                                <button class="btn btn-sm btn-success"><i class="paper plane icon"></i></button>
                            </form>
                        </div>

                        <!-- Clickable buttons on each card -->
                        <div class="recipeButtons">
                            <!-- Increments the like count by 1 -->
                            <button class="btn btn-sm btn-info" onclick="likedPost('<%= recipe._id %>')">
                                <i class="heart icon"></i>Like <div id="likedNumber<%= recipe._id %>" class="inlineBlock"><%= recipe.like %></div>
                            </button>

                            <button class="btn btn-sm btn-success" onclick="hide('<%= recipe._id %>')">
                                <i class="paper plane icon"></i>Share</button>
                            
                            <form class="inlineBlock" action="/recipes/<%= recipe._id %>?_method=DELETE" method="post">
                                <button id="likeButton" class="btn btn-sm btn-danger"><i class="trash icon"></i>Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<script>
    let newRecipe = document.getElementById('addNewRecipe');

    // Shows/Hides the add recipe form
    addRecipeHeader.addEventListener('click', () => {
        (newRecipe.style.display === 'none') ? newRecipe.style.display = 'block' : newRecipe.style.display = 'none';
    });

    function likedPost(id) {
        fetch(`/recipes/${id}/like`, {
            method: 'PUT'
        })
        .then(res => res.json())
        .then(data => {
            console.log('Data:', data);
            if(data.updated) {
                let numLikes = document.getElementById(`likedNumber${id}`);
                numLikes.innerHTML = parseInt(numLikes.innerHTML) + 1;
            }
        })
    }

    // Shows/Hides the email input feild
    function hide(id) {
        let emailBox = document.getElementById(`showEmailInputCards${id}`);
        emailBox.classList.toggle('hideBox');
    }
</script>
<%- include('partials/footer') %>