<%- include('partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 showImageContainer fill">
            <img class="recipeImageDisplay" src="<%= recipe.image %>" alt="Recipe image">
        </div>
    </div>

    <!-- Displays detailed information about the selected recipe -->
    <div class="row justify-content-center mt-4">
        <div class="col col-md-10">
            <div class="recipeDetails">
                <h2 class="recipeTitles"><%= recipe.title %></h2>
                <small class="text-muted"><%= recipe.dateCreated.toDateString() %></small>             
                <p id="descript"><%= recipe.description %></p>

                <!-- Gets nutrition facts from external API and creates a table if it exists -->
                <% if (Object.keys(nutrients).length > 0) { %>
                <div class="mt-5 mb-5">                    
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="2">Nutrition Facts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Energy</td>
                                <td><%= Number(nutrients.ENERC_KCAL).toFixed(2) %> kcal</td>
                            </tr>
                            <tr>
                                <td>Protein</td>
                                <td><%= Number(nutrients.PROCNT).toFixed(2) %> g</td>
                            </tr>
                            <tr>
                                <td>Fat</td>
                                <td><%= Number(nutrients.FAT).toFixed(2) %> g</td>
                            </tr>
                            <tr>
                                <td>Carbs</td>
                                <td><%= Number(nutrients.CHOCDF).toFixed(2) %> g</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% } %>

                <!-- Hidden email input field -->
                <div class="hideBox" id="showEmailInput">
                    <form id="sendPost" action="/recipes/<%= recipe._id %>/email" method="post">
                        <input class="form-control form-control-sm" name="email" type="email" placeholder="Email address" required>
                        <button class="btn btn-sm btn-success"><i class="paper plane icon"></i></button>
                    </form>
                </div>

                <!-- Like - Increments the like count by 1 -->
                <button class="btn btn-sm btn-info" onclick="likedPost('<%= recipe._id %>')">
                    <i class="heart icon"></i>Like <div id="likedNumber<%= recipe._id %>" class="inlineBlock"><%= recipe.like %></div>
                </button>

                <!-- Share - Displays email input field when clicked -->
                <button id="toggleShareBox" class="btn btn-sm btn-success" onclick="hide()">
                    <i class="paper plane icon"></i>Share
                </button>

                <!--  -->
                <a href="/recipes"><button class="btn btn-sm btn-warning"><i class="reply all icon"></i>Go Back</button></a>

                <form class="inlineBlock" action="/recipes/<%= recipe._id %>?_method=DELETE" method="post">
                    <button class="btn btn-sm btn-danger"><i class="trash icon"></i>Delete</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Comments Section -->
    <div class="row justify-content-center mt-5">
        <div class="col col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5>Comments</h5>
                </div>
                <div class="card-body addCommentSection">
                    <form action="/recipes/<%= recipe._id %>/comments" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6 form-group">
                                <input class="form-control form-control-sm" name="comment[author]" type="text" placeholder="Your Name" required>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <input class="form-control form-control-sm" name="comment[text]" type="text" placeholder="Comment..." required>
                            </div>
                            <div class="col-12 col-md-6">
                                <button id="addComentBtn" type="submit" class="btn btn-sm btn-block btn-info">Submit</button>
                            </div>
                        </div>        
                    </form>
                </div>
                <div class="card-body">
                    <% recipe.comments.forEach((comment) => { %>
                        <div class="comments">
                            <h5><%= comment.author %></h5>
                            <small><%= comment.dateCreated.toDateString() %></small>
                            <p><%= comment.text %></p>
                        </div>
                    <% }); %>
                </div>
            </div>
                    
        </div>
    </div>
</div>

<script>
    let showEmail = document.getElementById('toggleShareBox');

    // Replaces newline characters with a br tag so that it will be properly formatted in html
    str = document.getElementById("descript").innerHTML;
    str = str.split("\n").join("<br>");
    document.getElementById("descript").innerHTML = str;

    // increments the number of like in the database as well as here on frontend to avoid page redirecting to update
    function likedPost(id) {
        fetch(`http://localhost:3000/recipes/${id}/like`, {
            method: 'PUT'
        })
        .then(res => res.json())
        .then(data => {
            // updates like number only if it has been updated in the database
            console.log('Data:', data);
            if(data.updated) {
                let numLikes = document.getElementById(`likedNumber${id}`);
                numLikes.innerHTML = parseInt(numLikes.innerHTML) + 1;
            }
        })
    }

    // Shows/Hides the email input feild
    function hide() {
        let emailBox = document.getElementById('showEmailInput');
        emailBox.classList.toggle('hideBox');
    }
</script>

<%- include('partials/footer') %>